<div class="email-container">
    <h1>Login Verification Code</h1>
    <p>Your OTP for login is:</p>
    <div class="otp-code">
        <h2><%= otp %></h2>
    </div>
    <p>This code will expire in <%= expiresIn %>.</p>
    <p>If you didn't request this code, please ignore this email.</p>
</div> 